<main>
  <div>
    <div>
      <div>
        <h2>All Task</h2>
        <p>{{ tasks().length }} total tasks</p>
      </div>
      <button routerLink="/newtask">Newtask</button>
    </div>
    <div>
      <form action="">
        <input
          type="text"
          name="searchterm"
          [(ngModel)]="searchTerm"
          placeholder="Search for a todo item"
        />
      </form>
    </div>
    <div>
      <button
        type="button"
        [class.active-filter]="selectedStatusFilter === 'ALL'"
        (click)="setStatusFilter('ALL')"
      >
        All
      </button>
      <button
        type="button"
        [class.active-filter]="selectedStatusFilter === 'TO_DO'"
        (click)="setStatusFilter('TO_DO')"
      >
        Todo
      </button>
      <button
        type="button"
        [class.active-filter]="selectedStatusFilter === 'IN_PROGRESS'"
        (click)="setStatusFilter('IN_PROGRESS')"
      >
        Inprogress
      </button>
      <button
        type="button"
        [class.active-filter]="selectedStatusFilter === 'DONE'"
        (click)="setStatusFilter('DONE')"
      >
        Completed
      </button>
    </div>
  </div>
  <div>
    @if (!isTaskLoaded()) {
      <p>Loading...</p>
    }

    @for (item of tasks() | filterTodos: searchTerm : selectedStatusFilter; track item.id) {
      <app-todo-card [todoItem]="item"></app-todo-card>
    }
  </div>
</main>
